<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>前后端分离开发</title>
    <!-- 初始化样式 -->
    <link rel="stylesheet" href="./css/base.css">
    <!-- 公共样式 -->
    <link rel="stylesheet" href="./css/common.css">
    <!-- 自己的css -->
    <link rel="stylesheet" href="./css/category.css">
    <!-- 网站图标 -->
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <!-- jquery -->
    <script src="./lib/jquery-3.5.1.min.js"></script>
    <!-- 模板引擎 -->
    <script src="./lib/template-web.js"></script>
    <!-- 自己的js -->
    <script src="./js/category.js"></script>
</head>

<body>
    <div class="large-container">
        <!-- 头部header start -->
        <header class="header">
            <!-- logo -->
            <h1 class="logo">博学谷</h1>
            <!-- 搜索 -->
            <h3 class="tit">全部分类</h3>
        </header>
        <!-- 头部header end -->

        <!-- 主体内容区域 start -->
        <article class="main">
            <div class="sidebar">
                <ul class="sidebar-item">
                    <li class="active" data-id="1">
                        <a href="javascript:;">前端</a>
                    </li>
                    <li data-id="2"><a href="javascript:;">微信小程序</a></li>
                    <li data-id="3"><a href="javascript:;">Vue.js</a></li>
                    <li data-id="4"><a href="javascript:;">移动web开发</a></li>
                    <li data-id="5"><a href="javascript:;">booststrap</a></li>
                    <li data-id="6"><a href="javascript:;">Node.js</a></li>
                </ul>
            </div>
            <div class="main-coniner panel">
                <div class="main-coniner-box">
                    <div class="lesson-jiuye">
                        <div class="panel-tit">就业班</div>
                        <!-- 广告图 -->
                        <div class="advertisement">
                            <p class="advertisement_name">wen前端在线就业班</p>
                            <img src="./images/web_fe.png" alt="">
                        </div>
                    </div>
                    <div class="lesson-tigao">
                        <div class="panel-tit">提高课</div>
                        <div class="skill">
                            <p class="skill_name">微信小程序</p>
                            <p class="skill_name">深入探索js</p>
                            <p class="skill_name">node.js</p>
                            <p class="skill_name">bootstrap</p>
                            <p class="skill_name">微信小程序</p>
                            <p class="skill_name">深入探索js</p>
                            <p class="skill_name">node.js</p>
                            <p class="skill_name">bootstrap</p>
                            <p class="skill_name">深入探索js</p>
                            <p class="skill_name">node.js</p>
                            <p class="skill_name">bootstrap</p>
                            <p class="skill_name">微信小程序</p>
                            <p class="skill_name">深入探索js</p>
                            <p class="skill_name">微信小程序</p>
                            <p class="skill_name">深入探索js</p>
                            <p class="skill_name">node.js</p>
                            <p class="skill_name">bootstrap</p>
                            <p class="skill_name">微信小程序</p>
                            <p class="skill_name">深入探索js</p>
                            <p class="skill_name">node.js</p>
                        </div>
                    </div>
                </div>
                <div class="main-coniner-box">
                    <div class="lesson-jiuye">
                        <div class="panel-tit">就业班</div>
                        <!-- 广告图 -->
                        <div class="advertisement">
                            <p class="advertisement_name">微信小程序就业课</p>
                            <img src="./images/web_fe.png" alt="">
                        </div>
                    </div>
                    <div class="lesson-tigao">
                        <div class="panel-tit">提高课</div>
                        <div class="skill">
                            <p class="skill_name">微信小程序</p>
                            <p class="skill_name">深入探索js</p>
                            <p class="skill_name">node.js</p>
                            <p class="skill_name">bootstrap</p>
                            <p class="skill_name">微信小程序</p>
                            <p class="skill_name">深入探索js</p>
                            <p class="skill_name">node.js</p>
                            <p class="skill_name">bootstrap</p>
                        </div>
                    </div>
                </div>
                <div class="main-coniner-box">Vue.js</div>
                <div class="main-coniner-box">移动web开发</div>
                <div class="main-coniner-box">booststrap</div>
                <div class="main-coniner-box">Node.js</div>
            </div>
        </article>
        <!-- footer 区域start -->
        <footer class="footer">
            <div class="footer-icon flex-between">
                <div class="homePage flex-between-col">
                    <a href="index.html"> <img src="./images/首页.png" alt="">
                        <h4>首页</h4>
                    </a>
                </div>
                <div class="classification flex-between-col">
                    <a href="category.html">
                        <img src="./images/全部分类.png" alt="">
                        <h4>分类</h4>
                    </a>
                </div>
            </div>
        </footer>
        <!-- footer 区域end -->
    </div>



</body>

</html>
