<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>前后端分离开发</title>
    <!-- 初始化样式 -->
    <link rel="stylesheet" href="./css/base.css">
    <!-- 公共样式 -->
    <link rel="stylesheet" href="./css/common.css">
    <!-- 自己的css -->
    <link rel="stylesheet" href="./css/index.css">
    <!-- 网站图标 -->
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <!-- jquery -->
    <script src="./lib/jquery-3.5.1.min.js"></script>
    <!-- 模板引擎 -->
    <script src="./lib/template-web.js"></script>
    <!-- 自己的js -->
    <script src="./js/index.js"></script>
</head>

<body>
    <div class="large-container">
        <!-- 头部header start -->
        <header class="header">
            <!-- 邮件 -->
            <div class="email panel-em-se">
                <!-- <img src="./images/邮件.png" alt=""> -->
            </div>
            <!-- logo -->
            <h1 class="logo">博学谷</h1>
            <!-- 搜索 -->
            <div class="search panel-em-se"></div>
        </header>
        <!-- 头部header end -->

        <!-- 主体内容区域 start -->
        <article class="main">
            <div class="main-coniner">
                <!-- banner start -->
                <div class="banner">
                    <div class="banner-img">
                    </div>
                </div>
                <!-- banner end -->

                <!-- 就业课 -->
                <section class="employmentCourse panel">
                    <div class="employmentCourse-tit panel-tit flex-between">就业课</div>
                    <div class="employmentCourse-container">
                        <div class="row-1">
                            <div class="item-1">
                                <img class="item-pic" src="./images/fe-list.png" />
                            </div>
                            <div class="item-1">
                                <img class="item-pic" src="./images/java.png" />
                            </div>
                            <div class="item-1">
                                <img class="item-pic" src="./images/data.png" />
                            </div>
                        </div>
                        <div class="row-2">
                            <div class="item-1">
                                <img class="item-pic" src="./images/python.png" />
                            </div>
                            <div class="item-1">
                                <img class="item-pic" src="./images/ui.png" />
                            </div>
                            <div class="item-1">
                                <img class="item-pic" src="./images/fe-list.png" />
                            </div>
                        </div>
                    </div>
                </section>
                <!-- 微课 -->
                <section class="microClass panel">
                    <div class="microClass-tit panel-tit flex-between">微课</div>
                    <div class="microClass-container" id="microClass-container">
                        <!-- <div class="item-1">
                            <div class="item-pic">图片一</div>
                            <div class="item-text">
                                <div class="item-tit">标题一</div>
                                <div class="item-info">
                                    <div class="item-info-study"><span>20</span>人学习</div>
                                    <div class="item-info-price">￥<i>199</i></div>
                                </div>
                            </div>
                            <div class="id" data-id="" hidden>12</div>
                        </div> -->
                    </div>
                </section>
            </div>
        </article>
        <!-- footer 区域start -->
        <footer class="footer">
            <div class="footer-icon flex-between">
                <div class="homePage flex-between-col">
                    <a href="index.html"> <img src="./images/首页.png" alt="">
                        <h4>首页</h4>
                    </a>
                </div>
                <div class="classification flex-between-col">
                    <a href="category.html">
                        <img src="./images/全部分类.png" alt="">
                        <h4>分类</h4>
                    </a>
                </div>
            </div>
        </footer>
        <!-- footer 区域end -->
    </div>


    <!-- 微课 -->
    <script type="text/html" id="tpl-list">
        {{each data}}
        <div class="item-1">
            <img class="item-pic" src="{{$value.img}}" />
            <div class="item-text">
                <div class="item-tit">{{$value.name}}</div>
                <div class="item-info">
                    <div class="item-info-study"><span>{{$value.count}}</span>人学习</div>
                    <div class="item-info-price">￥<i>{{$value.price}}</i></div>
                </div>
            </div>
            <div class="id" data-id="{{$value.id}}" hidden></div>
        </div>
        {{/each}}
    </script>

</body>

</html>
